*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: grid;
    grid-template-areas: 
    "heading heading heading"
    "nav main aside"
    "nav footer footer";
    grid-template-rows: 150px 1fr 70px;
    row-gap: 10px;
    column-gap: 10px;
    background-color: rgb(193, 193, 193);
}

header {
    grid-area: heading;
    background-color: rgb(11, 8, 11);
    color: white;
}
main {
    grid-area: main;
    text-align: justify;
    background-color: rgb(255, 255, 255);
}

nav {
    grid-area: nav;
    background-color: rgb(223, 223, 223);
}

aside {
    grid-area: aside;
    background-color: rgb(223, 223, 223);
}

footer {
    grid-area: footer;
    background-color: rgb(11, 8, 11);
    
    color: white;
}

header>nav {
    display: block;
}

header>nav>a {
    color: white;
    float: right;
    padding: 15px 55px;
}

.info {
    width: 800px;

}

@media screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        display: inline-block;
    }
}